.realisations {
    position: relative;
    min-height: 70vh;
    background-image: url(../../../public/images/colorkitreverse.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 14vh 0 2vh;

    h3 {
        position: absolute;
        top: 6vh;
        left: 6vw;
        font-size: 2.5rem;
        .letter {
            position: relative;
            display: inline-block;
            animation: waviy 2s infinite;
            animation-delay: calc(.1s * var(--i));
            .letter.animate {
                // animation-duration: 10s;
                // animation-timing-function: ease;
                // animation-iteration-count: infinite;
                // animation-direction: normal;
                // animation-fill-mode: none;
                // animation-play-state: running;
                animation-name: waviy;
            }
        }
    }
    .projects {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        min-height: 50vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;

        .project {
            height: 38vh;
            width: 22vw;
            border-radius: 15px;
            background-color: white;
            transition: transform 0.6s ease;
            transform-style: preserve-3d;
            position: relative;
            @media screen and (max-width: 1023px){
                min-width: 40vw; 
                margin-bottom: 4vh;   
            }
            @media screen and (max-width: 767px){
                height: 40vh;
                min-width: 65vw;
            }
            @media screen and (max-width: 479px){
                min-width: 80vw;
            }
            &:hover {
                transform: rotateY(180deg);
                animation: flip 0.6s ease-in-out;
            }

            .cardFront {
                box-shadow: 1px 1px 2px black;
                border-radius: 15px;
                position: absolute;
                display: flex;
                align-items: center;
                height: 100%;
                width: 100%;
                background: white;
                backface-visibility: hidden;

                img {
                    width: 15vw;
                    margin-left: auto;
                    margin-right: auto;
                    @media screen and (max-width: 1023px){
                        width: 25vw;
                    }
                    @media screen and (max-width: 767px){
                        width: 40vw;
                    }
                    @media screen and (max-width: 479px){
                        width: 55vw;
                    }
                    @media screen and (max-width: 279px){
                        width: 70vw;
                    }
                }
            }

            .cardBack {
                box-shadow: 1px 1px 2px black;
                border-radius: 15px;
                position: absolute;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                height: 100%;
                width: 100%;
                background: white;
                backface-visibility: hidden;
                transform: rotateY(-180deg);

                img {
                    width: 11vw;
                    margin-left: auto;
                    margin-right: auto;
                }
                .btnBackCard{
                    text-decoration: none;
                    
                }
            }
        }
    }
}
@keyframes waviy {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
}

@keyframes flip {
    0% {
        transform: scale(1) rotateY(0deg);
    }

    50% {
        transform: scale(1.1) rotateY(90deg);
    }

    100% {
        transform: scale(1) rotateY(180deg);
    }
}

.transition {
    position: relative;
    height: 30vh;
    border-top: 8px solid #E0FF4F;
    border-bottom: 8px solid #E0FF4F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p{
        font-size: 1.5rem;
        line-height: 30px;
        color: #52796F;
        font-weight: bold;
        text-shadow: 1px 1px 1px black;
        span{
            color: #E9C46A;
            font-size: 1.7rem;
            position: absolute;
            bottom: 90%;
        }
    }
    .transition-paragraph {
        width: 70%;
        opacity: 0;
         visibility: hidden;
        position: absolute;
        bottom: 50%;
        right: 50%;
        transform: translate(50%, 50%);
        transition: opacity 2s ease-in-out;
    }
    
    .transition-paragraph.show {
      opacity: 1;
      visibility: visible;
      position: absolute;
      bottom: 50%;
      right: 50%;
      transform: translate(50%, 50%);
      animation: fadeIn 2s forwards; /* Animation d'entrée */
    }
    
    .transition-paragraph.fade-out {
      opacity: 0;
      visibility: hidden;
      animation: fadeOut 2s forwards; /* Animation de sortie */
    }
    
    @keyframes fadeOut {
      from {
        opacity: 1;
        visibility: visible;
      }
      to {
        opacity: 0;
        visibility: hidden;
      }
    }
    
    @keyframes fadeIn {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  }
  
  