@font-face {
    font-family: "Rubik";
    src: url("../public/fonts/Rubik/RubikMoonrocks-Regular.ttf");
}
h2{
    font-family: "Rubik", monospace;
    color: #E9C46A;
    font-size: 2.5rem;
    font-weight: lighter;
    text-shadow: 5px 5px 2px black;
    word-spacing: 1rem;
}
@font-face {
    font-family: "Londrina";
    src: url("../public/fonts/Londrina_Solid/LondrinaSolid-Regular.ttf");
}
h1, .btnContact, .btnMenu, h3, h4, .titleTransition, .autorTransition .cvDownload, .footerLink, button, label, .btnBackCard{
    font-family: "Londrina";
    text-shadow: 2px 2px 3px black;
    letter-spacing: 1.8px;
}
h1{ word-spacing: 0.1rem;}
h1>span{
    font-size: 2.5rem;
    color: #E9C46A;
}
label{
    color: white;
}
input, textarea{
    border: none;
}
h3,h4, .titleTransition{
    color: #52796F;
}
h3{
    font-size: 1.7rem;
}
h4{
    font-size: 2rem;
}

@font-face {
    font-family: "Spartan";
    src: url("../public/fonts/League_Spartan/LeagueSpartan-VariableFont_wght.ttf");
}
p, .langage, .transitionParagraph{
    font-family: "Spartan";
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btnContact{
    display: flex;
    position: absolute;
    right: 2vw;
    top: 3vh;
    text-decoration: none;
    overflow: hidden;
    font-size: 1.5rem;
    p{
        // border-bottom: 2px solid #3abeff;
        font-weight: bolder;
        color: #E0FF4F;
        &:hover{
            color: #3abeff;
            border-bottom: 3px solid #E0FF4F;
        }
    }
    .fa-feather-pointed{
        color: #3abeff;
        
    }
    &:hover{
        font-size: 1.55rem;
        .fa-feather-pointed{            
            color: #E0FF4F;
        }
    }
}


/* Largeur de la barre de défilement */
::-webkit-scrollbar {
    display: none;   
}

// ANIMATION TEXT TRANSITION 
.mot{
    animation: color-animation 4s linear infinite;
}
.mot1{
    --color-1: #E0FF4F;
    --color-2: #52796F;
    --color-3: #E9C46A;
}
.mot2{
    --color-1: #3abeff;
    --color-2: #E0FF4F;
    --color-3: #52796F;
}
.mot3{
    --color-1: #E9C46A;
    --color-2: #3abeff;
    --color-3: #E0FF4F;
}
@keyframes color-animation {
    0%    {color: var(--color-1)}
    32%   {color: var(--color-1)}
    33%   {color: var(--color-2)}
    65%   {color: var(--color-2)}
    66%   {color: var(--color-3)}
    99%   {color: var(--color-3)}
    100%  {color: var(--color-1)}
}