.headerTop{
    height: 25vh;
    background-color: #52796F;
    display: flex;
    align-items: center;
    position: relative;
    color: white;

    img{
        height: 24vh;
        padding-left: 10vw;
        margin-right: 2vw;

    }
    .headerNameLink{
        display: flex;
        align-items: center;
        margin-bottom: 2vh;
        a{
            display: flex;
            justify-content: center;
            width: 2.8vw;
            .fa-linkedin, .fa-github, .fa-discord, .fa-users{
                font-size: 1.5rem;
                margin-left: 1vw;
                color: #3abeff;
                &:hover{
                    color: #E0FF4F;
                    font-size: 1.7rem;
                }
            }
        }
    }
    
    h2 {
        overflow: hidden;
        white-space: nowrap;
        position: relative;
        animation: typing 1s steps(24);
    }

    @keyframes typing {
        from{width: 0;}
        to {width: 100%;}
    }
    
    h2::after {
        content: "";
        position: absolute;
        display: block;
        height: 70%;
        width:2px;
        background: #dadada;
        right: 0;
        top: 15%;
        animation: cursor 1s infinite;
    }

    @keyframes cursor {
      0% {
        opacity: 1;
      }  
      50% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
}
    