.navHeader {
    position: relative;
    height: 4vh;
    background-color: #E9C46A;
    box-shadow: 0 2px 5px black;

    .fa-home{
        position: absolute;
        left: 2.5%;
        top: 25%;
        font-size: 1rem;
        text-shadow: 2px 2px 3px black;
        background-color: #3abeff;
        color: white;
        padding: 6px;
        border-radius: 3px;
        cursor: pointer;
    }
    ul {
        height: 4vh;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        list-style-type: none;
        margin-left: 0;
        li {
            .btnMenu {
                display: flex;
                justify-content: center;
                text-decoration: none;
                font-weight: bolder;
                font-size: 1.4rem;
                color: white;
                transition: font-size 1s; /* Ajout d'une transition pour un changement de taille plus fluide */
                width: 10rem;
                text-align: center;
                white-space: nowrap;
                &:hover {
                    font-size: 2rem;
                    padding-top: 2vh;
                    transition: padding-top 0.3s;
                }
            }
            .contactMenu{
                position: static;
            }
        }
    }

    .fa-solid {
        display: none;
        position: absolute;
        right: 1vw;
        top: 45vh;
        font-size: 5rem;
        color: #3abeff;
        text-shadow: 1px 1px 2px black;
    }

    &.sticky {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 100;
    }
}